@import url("https://fonts.googleapis.com/css2?family=Economica&family=Grape+Nuts&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 50vh;
    background-color: #01161E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather {
    z-index: 2;
    display: flex;
    align-items: center;
    color: white;
}

.weather>div {
    margin: 0.625rem;
    font-size: 4rem;
}

.weather p {
    font-size: 2rem;
}

.weather span {
    font-size: 0.75rem;
    margin: 0.3rem;
}

.weather img {
    width: 2rem;
}

nav form {
    width: 70%;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.searchField {
    font-size: 1.1rem;
    outline: none;
    color: red;
    background-color: transparent;
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid green;
    width: 98%;
}

nav form button {
    background-color: #4ECDC4;
    font-size: 1.1rem;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}