* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
/* ************************************************************************************************** */

/* ************************************************************************************************** */
/* .toolbox-cont */
.toolbox-cont>*{
    margin-left: 4rem;
}

.toolbox-cont {
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont {
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.toolbox-priority-cont>*:hover {
    background-color: #485460;
    transition: 0.2s ease-in;
}

.color {
    height: 1.5rem;
    width: 3rem;
}

.lightpink {
    background-color: lightpink;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: lightblue;
}

.black {
    background-color: black;
}

.action-btn-cont>* {
    display: flex;
    width: 50%;
    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.action-btn-cont {
    height: 3.5rem;
    width: 8rem;
    background-color: #3d3d3d;
    display: flex;
}

.add-btn:hover , .remove-btn:hover {
    background-color: #4BB543;
    transition: 0.2s ease-in;
}
/* ************************************************************************************************** */

/* ************************************************************************************************** */
/* .main-cont */
.main-cont {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.ticket-cont {
    height: 12rem;
    width: 15rem;
    background-color: coral;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    background-color: yellow;
    height: 2rem;
}

.ticket-lock {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    margin-top: 90px;
    margin-right: 5px;
}
/* ************************************************************************************************** */

/* ************************************************************************************************** */
/* .modal-cont */
.modal-cont {
    display: none;
    background-color: lightblue;
    height: 50vh;
    width: 45vw;
    position: absolute;
    top: 30%;
    left: 25%;
}

.textArea-cont {
    height: 100%;
    width: 75%;
    background-color: #dfe4ea;
    outline: none;
    border: none;
    resize: none;
    font-size: 2rem;
    padding: 2rem;
    color: black;
}

.priority-colors-container {
    height: 100%;
    width: 25%;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color {
    height: 3rem;
    width: 5rem;
    /* margin-bottom: 20px; */
}

.active {
    border: 5px solid coral;
}
/* ************************************************************************************************** */